<%layout("./layouts/boilerplate")%>


<h1>add new worker</h1>
<form action="/workers"method="POST"novalidate class="validated-form" >
 <div>
    <div>
        <label for="name"class="form-label">name:</label>
        <input type="text"class="form-control" name="name"placeholder="name"id="name"required>
        <div class="valid-feedback">proceed</div>
     </div>
    
     <div>
        <label for="date"class="form-label">date:</label>
        <input type="text"class="form-control" name="trip[date]"placeholder="date"id="date">
     </div>
     <div>
        <label for="vehicle"class="form-label">vehicle no:</label>
        <input type="text"class="form-control" name="trip[vehicle]"placeholder="vehicleno"id="vehicle">
     </div>
     <div>
        <label for="paymenttype"class="form-label">paymenttype:</label>
        <input type="text"class="form-control" name="trip[paymenttype]"placeholder="paymenttype"id="paymenttype">
     </div>
     
     <div>
        <label for="reason"class="form-label">reason:</label>
        <textarea name="trip[reason]" class="form-control"cols="30"rows="10"></textarea>
     </div>
     <div>
        <label for="amount"class="form-label">amount:</label>
        <input type="Number"class="form-control" name="trip[amount]"placeholder="amount"id="amount">
     </div>
     <div>
        <label for="vchtype"class="form-label">vchtype:</label>
        <input type="text"class="form-control" name="trip[vchtype]"placeholder="vchtype"id="vchtype">
     </div>
     <div>
        <label for="vchno"class="form-label">vch number:</label>
        <input type="Number"class="form-control" name="trip[vchno]"placeholder="vchno"id="vchno">
     </div>
     <div>
        <label for="debit"class="form-label">debit:</label>
        <input type="Number"class="form-control" name="trip[debit]"placeholder="debit"id="debit" value=0>
     </div>
     <div>
        <label for="credit"class="form-label">credit:</label>
        <input type="Number"class="form-control" name="trip[credit]"placeholder="credit"id="credit" value=0>
     </div>
    
     
        <button class="btn btn-success">ADD</button>
     </div>
 </div>
</form>